Friends:{{ friends }}
<ul>
  <li *ngFor="let f of friends; let counter=index">
          {{ f }}. 
          Counter number {{ counter }}
          <button (click)="displayText(counter)" >Click {{ f }}</button>
  </li>
</ul>
<hr>
<div>
  Demo of *ngFor directive with JSOn array:
  <table border="1">
    <thead>
      <tr>
        <th>S.no</th>
        <th>City</th>
        <th>STD</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let l of locations">
        <td>{{ l.id }}</td>
        <td>{{ l.city }}</td>
        <td>{{ l.code }}</td>
      </tr>
    </tbody>
  </table>
</div>
<hr>
<div>
  Demo of *ngIf directive:
  <button (click)="toggleCheck()">Toggle Check</button>
  <div class="box" *ngIf="check">
  </div>
<br>
Demo of *ngIf directive with else criteria:
<button (click)="toggleElseCheck()">Toggle Check</button>
<div class="yesbox" *ngIf="checkelse; else elseTemplate">
  I am here!
  <button>T</button>
</div>

<ng-template #elseTemplate>
  <div class="nobox">
    Hip Hip Hurray
  </div>
</ng-template>

</div>
<hr>
<div>
  Demo of *ngSwitchCase Directive
  <div [ngSwitch]="city">
    <span *ngSwitchCase="'044'">Chennai</span>
    <span *ngSwitchCase="'022'">Mumbai</span>
    <span *ngSwitchCase="'033'">Kolkata</span>
    <span *ngSwitchCase="'080'">Bengaluru</span>
    <span *ngSwitchDefault>Code/City not available!</span>
  </div>
</div>
<hr>

